<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bignerdranch.android.vocabularyapp">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- Camera and storage permission will be required -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="Vocabulary"
        android:icon="@mipmap/ic_laucher_vocabulary"
        android:supportsRtl="true"
        android:theme="@style/Theme.VocabularyApp">
        <activity android:name=".SearchAllFragment"
            tools:ignore="Instantiatable"></activity>
        <activity android:name=".GameMain"/>
        <activity
            android:name=".StartGameScreenActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StartingScreenActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FavoriteActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".FinishScreenActivity" />
        <activity android:name=".DisplayWordActivity" />
        <activity android:name=".MainActivity"

            android:theme="@style/Theme.VocabularyApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FloatingWindow"
            android:enabled="true" /> <!-- Add in application tag -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Theme.VocabularyApp"/> <!-- optional (needed if default theme has no action bar) -->
    </application>

</manifest>